WIT_TOKEN=your_wit_ai_token
VERTEX_API_KEY=your_vertex_ai_express_api_key
APP_SECRET_KEY=replace_me
DEVICE_API_KEY=replace_me
DASHBOARD_USERNAME=admin
DASHBOARD_PASSWORD=replace_me
DATABASE_PATH=assignment5.db
